
body {
    background-color: darkblue;
    flex-direction: column;
}

.boardered-title {
    border-style: double; /* Set the border style first */
    border-width: 10px; /* Set the border width */
    border-color: white; /* Set the border color */
    padding: 10px;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
    text-shadow: 2px 2px;
    margin: 0;
  
}
 
h3{
    text-decoration: underline;
    text-rendering: optimizeSpeed;
    letter-spacing: 5px;
    filter: contrast(1.6);
}

h2:hover {
    text-transform: uppercase;
    flex-grow: 1;
    color: white;
    cursor: pointer;
    
}
h4{
  filter: blur(2px);
}
ul.nav li {
    display: inline-block; 
    border: 1px solid purple; 
    border-left: none; 
    border-right: none;
    backdrop-filter: invert(50%);
}



ul.nav{
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  overflow: hidden;
}

ul.nav li a {
    color: red;
    display: flex;
    padding: 20px;
    text-align: center;
    text-decoration:none;
}
ul.nav li:first-child{
    border-left-color: purple;
}
ul.nav li:last-child{
    border-right-color: purple; 
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    box-shadow: 3px 3px 3px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative
}

.box1{
    width: 20px;
    height: 50px;
    background-color: yellow;
    animation: moving1 1s alternate infinite;
}
.box2{
    width: 20px;
    height: 50px;
    background-color: green;
    animation: moving2 1s alternate infinite;
}

.box3{
    width: 15px;
    height: 20px;
    background-color: yellow;
    animation: blinking1 2s alternate infinite;
}
.box4{
    width: 30px;
    height: 30px;
  background-color: orange;
    animation: blinking2 1s alternate infinite;
}

@keyframes moving1 {
    0%{
        transform:translatex(0);
    }
    30%{
        transform:translatex(30px);
    }

    70%{
        transform:translatex(70px);
        opacity: 0;
    }
    100%{
        transform:translatex(100px);
    }
}

@keyframes moving2 {
   40%{
        transform:translatey(-40px);
  }
    0%{
        transform:translatex(0);
     }
       100%{
        transform:translatey(130px);
    }
    40%{
        transform:translatex(-40px);
    }

    70%{
        transform:translatey(70px);
    }
    100%{
        transform:translatex(-130px);
    }
}
     
@keyframes blinking2 {
   0%, 100%{
        opacity: 0;
       }
    50%{
       opacity: 1;
     }
}
       
     @keyframes blinking1 {
       0%{
         transform: scale(0);
       }
       100%{
      transform: scale(2);
         
     }
}

.randombox{
  border: 20px solid green;
  bottom: 5px;
  position: absolute;
  left:10px;
}

.randombox:hover{
    transform: translate(10px,20px) rotate(-60deg);
    clip-path: circle(50% at center);
}

@media screen and (max-width:520px) {
        body{
        background-color: red;

        }
    }
    @media screen and (min-width:521px, max-width 951px){
        body{
            background-color:aqua;
        }
    }